<!doctype html>
<html lang="tr" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>
    <meta charset="utf-8" />
    <title>Travel | @ViewData["title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/admin/assets/images/favicon.ico">

    <script src="/admin/assets/js/jquery-3.6.0.min.js"></script>
    @RenderSection("Styles", required: false)

    <script src="/admin/assets/js/layout.js"></script>
    <link href="/admin/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link id="sync" href="/css/devextreme/dx.light.css" rel="stylesheet" />
    <link href="/admin/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/css/devexpress.css" rel="stylesheet" />

    <script>DevExpress.localization.locale("en")</script>
</head>

<body>
    <div id="layout-wrapper">

        <div id="loader">
            <div class="load-three-bounce">
                <div class="load-child bounce1"></div>
                <div class="load-child bounce2"></div>
                <div class="load-child bounce3"></div>
                @*<img src="/admin/assets/media/wbloading.gif" width="100%" />*@
            </div>
        </div>

        @await Component.InvokeAsync("Header")

        <div class="app-menu navbar-menu">
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/admin/assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/admin/assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>
                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="/admin/assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/admin/assets/images/logo-light.png" alt="" height="17">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">

                    <div id="two-column-menu">
                    </div>
                    @await Component.InvokeAsync("Menu")
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>

        <div class="vertical-overlay"></div>

        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">@ViewData["title"]</h4>
                            </div>
                        </div>
                    </div>
                    @RenderBody()

                    @Html.AntiForgeryToken()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            &copy;
                            2023 <a href="http://komsoft.com.tr" target="_blank">komsoft.com.tr</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>

    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Yükleniyor...</span>
            </div>
        </div>
    </div>

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>


    <partial name="_themeSetting" />

    @*<script src="/ajax/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/admin/assets/libs/node-waves/waves.min.js"></script>
    <script src="/admin/assets/libs/feather-icons/feather.min.js"></script>
    <script src="/admin/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="/admin/assets/js/plugins.js"></script>
    <script src="/bootbox/bootbox.all.min.js"></script>
    <script src="/admin/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="/admin/assets/js/pages/sweetalerts.init.js"></script>
    <script src="/admin/assets/js/pages/notifications.init.js"></script>
    <script src="/admin/assets/libs/moment/min/moment.min.js"></script>
    <script src="/admin/assets/libs/moment/min/moment-with-locales.min.js"></script>
    <script src="/admin/assets/js/app.js"></script>
    <script src="/admin/assets/js/scripts.js"></script>
    <script src="/admin/assets/js/custom.js"></script>
    <script src="/admin/assets/js/devexpress.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        moment.locale('tr');
        $(window).on('load', function () {
            $('#loader').hide();

        });


    </script>
</body>

</html>