@model TransferDTO
@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link href="~/assets/css/vehiclelistcustom.css" rel="stylesheet" />
}

<section class="page-header" style="background-image: url(/assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <h2>Tours with Sidebar</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li><span>Transfer</span></li>
        </ul><!-- /.thm-breadcrumb -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

<style>
    /* styles.css dosyasına kaydedilecek */
    .currency-selector {
        display: flex;
   
        
    }

    .currency-option {
        display: flex;
        align-items: center;
        padding: 4px;
        margin: 0 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .currency-option.selected {
            border-color: green;
            background-color: #eaffea;
        }

    .currency-symbol {
        font-weight: bold;
        margin-right: 5px;
    }

    .currency-value {
        font-size: 18px;
        font-weight: bold;
        color: green;
    }

    .currency-original {
        text-decoration: line-through;
        color: #999;
        margin-left: 5px;
    }

    .currency-option:hover {
        background-color: #f0f0f0;
    }

</style>
<section class="tour-two tour-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form asp-action="CustomerApplication" asp-controller="Customer" id="save" method="post">

                    <input asp-for="Distance" type="hidden" />
                    <input asp-for="FromPlace" type="hidden" />
                    <input asp-for="FromPlaceID" type="hidden" />
                    <input asp-for="ToPlace" type="hidden" />
                    <input asp-for="ToPlaceID" type="hidden" />
                    <input asp-for="PassengersCount" type="hidden" />
                    <input asp-for="Date" type="hidden" />
                    <input asp-for="RoundTripDate" type="hidden" />
                    <input asp-for="Duration" type="hidden" />
                    <input asp-for="VehicleCategoryID" type="hidden" />

                    @foreach (var item in Model.VehicleCategories)
                    {
                        <div class="tour-two__single tour-one__single">
                            <div class="tour-two__image-wrap">
                                <div class="tour-one__image" style="height: 170px; background-image: url('/assets/images/@item.Image'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                </div><!-- /.tour-one__image -->
                            </div><!-- /.tour-two__image-wrap -->

                            <div class="tour-one__content" style="width: 100%;">
                                <div class="tour-two__top">
                                    <div class="tour-two__top-left">
                                        <h3>@item.Name</h3>
                                    </div><!-- /.tour-two__top-left -->
                                    <div class="tour-two__right">
                                        <p><span>@((item.KMPrice * Model.Distance).ToString("N2")) $</span></p>
                                    </div><!-- /.tour-two__right -->
                                </div><!-- /.tour-two__top -->

@*                                 <div class="tour-two__text">
                                    <p>

                                    </p>
                                </div><!-- /.tour-two__text --> *@

                                <ul class="tour-one__meta list-unstyled">
                                    <li><i class="far fa-user-circle"></i> @item.SeateCount Passenger</li>
                                    <li><i class="fas fa-suitcase"></i> @item.SuitcaseCount Suitcase</li>
                                    @*  <li><a href="#" class="thm-btn tour-search-one__btn">Booking Now</a></li>
                                *@
                                </ul><!-- /.tour-one__meta -->

                                <div class="currency-selector">
                                    <div class="currency-option selected" data-currency="TRY" data-rate="">
                                        <span class="currency-symbol">₺</span>
                                        <span class="currency-value">@((item.KMPrice * Model.Distance*30).ToString("N2"))</span>
                                        
                                    </div>
                                    <div class="currency-option" data-currency="EUR" data-rate="">
                                        <span class="currency-symbol">€</span>
                                        <span class="currency-value">@((item.KMPrice * Model.Distance).ToString("N2"))</span>
                                    </div>
                                    @* <div class="currency-option" data-currency="USD" data-rate="33">
                                        <span class="currency-symbol">$</span>
                                        <span class="currency-value">33</span>
                                    </div> *@
                                    <div class="currency-option" data-currency="GBP" data-rate="26">
                                        <span class="currency-symbol">£</span>
                                        <span class="currency-value">26</span>
                                    </div>
                                </div>

                                <div class="tour-search-one__btn-wrap">
                                    <a href="#" data-id="@item.ID" class="thm-btn tour-search-one__btn1 Book">Book Now</a>
                                </div><!-- /.tour-search-one__btn-wrap -->

                            </div><!-- /.tour-one__content -->
                            </div>
                            <!-- /.tour-two__single -->
                        }
                    @* <button type="submit" class="thm-btn tour-search-one__btn1"></button> *@
                </form>
            </div><!-- /.col-lg-8 -->

            <div class="col-lg-4">
                <div class="tour-sidebar">
                    <div class="tour-sidebar__sorter-wrap">

                        <div class="tour-sidebar__sorter-single">
                            <div class="tour-sidebar__sorter-top">
                                <h3>Transfer Summary</h3>
                                <button class="tour-sidebar__sorter-toggler"><i class="fa fa-angle-down"></i></button>
                                <!-- /.tour-sidebar__sorter-toggler -->
                            </div><!-- /.tour-sidebar__sorter-top -->
                            <div class="tour-sidebar__sorter-content">

                                <div class="tour-sidebar__sorter-inputs">

                                    <div class="row">
                                        <div class="col-6">
                                            From
                                        </div>

                                        <div class="col-6">
                                            @Model.FromPlace
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            TO
                                        </div>

                                        <div class="col-6">
                                            @Model.ToPlace
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Passenger Count
                                        </div>

                                        <div class="col-6">
                                            @Model.PassengersCount
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Date
                                        </div>

                                        <div class="col-6">
                                            @Model.Date
                                        </div>
                                    </div>

                                    @if (Model.RoundTripDate != null)
                                    {
                                        <div class="row">
                                            <div class="col-6">
                                                Return
                                            </div>

                                            <div class="col-6">
                                                @Model.RoundTripDate
                                            </div>
                                        </div>
                                    }

                                    <div class="row">
                                        <div class="col-6">
                                            Duration
                                        </div>

                                        <div class="col-6">
                                            @Model.Duration
                                        </div>
                                    </div>
                                </div><!-- /.tour-sidebar__sorter-inputs -->
                            </div><!-- /.tour-sidebar__sorter-content -->

                        </div><!-- /.tour-sidebar__sorter-single -->
                        <div class="tour-sidebar__sorter-single">
                            <div class="tour-sidebar__sorter-top">
                                <h3>Duration</h3>
                                <button class="tour-sidebar__sorter-toggler"><i class="fa fa-angle-down"></i></button>
                                <!-- /.tour-sidebar__sorter-toggler -->
                            </div><!-- /.tour-sidebar__sorter-top -->
                            <div class="tour-sidebar__sorter-content">

                                <div class="tour-sidebar__sorter-inputs">
                                    <p>
                                        <input type="checkbox" id="duration-5" name="radio-group">
                                        <label for="duration-5">
                                            0 - 24 hours
                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-4" name="radio-group">
                                        <label for="duration-4">
                                            1 - 2 days

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-3" name="radio-group">
                                        <label for="duration-3">
                                            2 - 3 days

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-2" name="radio-group">
                                        <label for="duration-2">
                                            4 - 5 days


                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-1" name="radio-group">
                                        <label for="duration-1">
                                            5 - 10 days
                                        </label>
                                    </p>
                                </div><!-- /.tour-sidebar__sorter-inputs -->
                            </div><!-- /.tour-sidebar__sorter-content -->

                        </div><!-- /.tour-sidebar__sorter-single -->

                    </div><!-- /.tour-sidebar__sorter-wrap -->
                </div><!-- /.tour-sidebar -->
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.tour-two -->

<script>
    $(".Book").on("click", function () {
        $("#VehicleCategoryID").val($(this).data("id"));
        $("#save").submit();
    });


    
    document.addEventListener('DOMContentLoaded', function () {
        var currencyOptions = document.querySelectorAll('.currency-option');

        currencyOptions.forEach(function (option) {
            option.addEventListener('click', function () {
                // Önceki seçimi kaldır
                currencyOptions.forEach(function (opt) {
                    opt.classList.remove('selected');
                });

                // Yeni seçimi işaretle
                this.classList.add('selected');

                // Burada para birimi değerini kullanarak ek işlemler yapabilirsiniz.
                // Örneğin, bir fiyat hesaplaması veya sunucuya gönderme işlemi
                var currency = this.getAttribute('data-currency');
                var rate = this.getAttribute('data-rate');
                console.log('Seçilen Para Birimi:', currency, 'Kur:', rate);
            });
        });
    });

</script>