@model VehicleCategoryDTO
@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link href="~/assets/css/vehiclelistcustom.css" rel="stylesheet" />
}

<section class="page-header" style="background-image: url(/assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <h2>Tours with Sidebar</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li><span>Transfer</span></li>
        </ul><!-- /.thm-breadcrumb -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="tour-two tour-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model.VehicleCategories)
                {
                    <div class="tour-two__single tour-one__single">
                        <div class="tour-two__image-wrap">
                            <div class="tour-one__image" style="height: 170px; background-image: url('/assets/images/@item.Image'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                            </div><!-- /.tour-one__image -->
                        </div><!-- /.tour-two__image-wrap -->

                        <div class="tour-one__content" style="width: 100%;">
                            <div class="tour-two__top">
                                <div class="tour-two__top-left">
                                    <h3>@item.Name</h3>
                                </div><!-- /.tour-two__top-left -->
                                <div class="tour-two__right">
                                    <p><span>@((item.KMPrice * Model.Distance).ToString("N2")) $</span></p>
                                </div><!-- /.tour-two__right -->
                            </div><!-- /.tour-two__top -->

                            <div class="tour-two__text">
                                <p>

                                </p>
                            </div><!-- /.tour-two__text -->

                            <ul class="tour-one__meta list-unstyled">
                                <li><i class="far fa-user-circle"></i> @item.SeateCount Passenger</li>
                                <li><i class="fas fa-suitcase"></i> @item.SuitcaseCount Suitcase</li>
@*                                 <li><a href="#" class="thm-btn tour-search-one__btn">Booking Now</a></li>
 *@                         </ul><!-- /.tour-one__meta -->

                            <div class="tour-search-one__btn-wrap">
                                <button type="submit" class="thm-btn tour-search-one__btn1 btnBook" value="@item.ID">Booking Now</button>
                            </div><!-- /.tour-search-one__btn-wrap -->

                        </div><!-- /.tour-one__content -->
                    </div>
                    <!-- /.tour-two__single -->
                }
            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="tour-sidebar">
                    <div class="tour-sidebar__sorter-wrap">
                        
                        <div class="tour-sidebar__sorter-single">
                            <div class="tour-sidebar__sorter-top">
                                <h3>Transfer Summary</h3>
                                <button class="tour-sidebar__sorter-toggler"><i class="fa fa-angle-down"></i></button>
                                <!-- /.tour-sidebar__sorter-toggler -->
                            </div><!-- /.tour-sidebar__sorter-top -->
                            <div class="tour-sidebar__sorter-content">

                                <div class="tour-sidebar__sorter-inputs">
                                    <div class="row">
                                        <div class="col-6">
                                            From
                                        </div>

                                        <div class="col-6" id="searchResults">
                                            @Model.From
                                            <input asp-for="From" type="hidden"/>
                                            <input asp-for="FromID" type="hidden"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            TO
                                        </div>

                                        <div class="col-6" id="searchResults1">
                                            @Model.To
                                            <input asp-for="To" type="hidden" />
                                            <input asp-for="ToID" type="hidden" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Passenger Count
                                        </div>

                                        <div class="col-6" id="searchResults2">
                                            @Model.PassengersCount
                                            <input asp-for="PassengersCount" type="hidden" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Date
                                        </div>

                                        <div class="col-6" id="searchResults3">
                                            @Model.Date
                                            <input asp-for="Date" type="hidden" />
                                        </div>
                                    </div>

                                    @if (Model.RoundTripDate != null)
                                    {
                                        <div class="row">
                                            <div class="col-6">
                                                Return
                                            </div>

                                            <div class="col-6" id="searchResults4">
                                                @Model.RoundTripDate
                                                <input asp-for="RoundTripDate" type="hidden" />
                                            </div>
                                        </div>
                                    }
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            Duration
                                        </div>

                                        <div class="col-6" id="searchResults5">
                                            @Model.Duration
                                            <input asp-for="Duration" type="hidden" />
                                        </div>
                                    </div>
                                </div><!-- /.tour-sidebar__sorter-inputs -->
                            </div><!-- /.tour-sidebar__sorter-content -->

                        </div><!-- /.tour-sidebar__sorter-single -->
                        <div class="tour-sidebar__sorter-single">
                            <div class="tour-sidebar__sorter-top">
                                <h3>Duration</h3>
                                <button class="tour-sidebar__sorter-toggler"><i class="fa fa-angle-down"></i></button>
                                <!-- /.tour-sidebar__sorter-toggler -->
                            </div><!-- /.tour-sidebar__sorter-top -->
                            <div class="tour-sidebar__sorter-content">

                                <div class="tour-sidebar__sorter-inputs">
                                    <p>
                                        <input type="checkbox" id="duration-5" name="radio-group">
                                        <label for="duration-5">
                                            0 - 24 hours
                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-4" name="radio-group">
                                        <label for="duration-4">1 - 2 days

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-3" name="radio-group">
                                        <label for="duration-3">2 - 3 days

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-2" name="radio-group">
                                        <label for="duration-2">4 - 5 days


                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-1" name="radio-group">
                                        <label for="duration-1">
                                            5 - 10 days
                                        </label>
                                    </p>
                                </div><!-- /.tour-sidebar__sorter-inputs -->
                            </div><!-- /.tour-sidebar__sorter-content -->

                        </div><!-- /.tour-sidebar__sorter-single -->

                    </div><!-- /.tour-sidebar__sorter-wrap -->
                </div><!-- /.tour-sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.tour-two -->

<script>
    $(".btnBook").on("click", function () {
        // Set the values for the input fields based on the button's data attributes
        $("#From").val($(this).data("from"));
        $("#FromID").val($(this).data("fromid"));
        $("#To").val($(this).data("to"));
        $("#ToID").val($(this).data("toid"));
        $("#PassengersCount").val($(this).data("passengerscount"));
        $("#Date").val($(this).data("date"));
        $("#RoundTripDate").val($(this).data("roundtripdate"));
        $("#Duration").val($(this).data("duration"));

        // Collect data to be sent
        var bookingData = {
            From: $("#From").val(),
            FromID: $("#FromID").val(),
            To: $("#To").val(),
            ToID: $("#ToID").val(),
            PassengersCount: $("#PassengersCount").val(),
            Date: $("#Date").val(),
            RoundTripDate: $("#RoundTripDate").val(),
            Duration: $("#Duration").val()
        };

        // AJAX request to the customerApp action in the Customer controller
        $.ajax({
            url: '/Customer/CustomerApplication',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(bookingData),
            success: function (response) {
                // Handle success
                console.log("Booking successful", response);
                $(".btnBook").html(data).show();
                //alert("Booking successful");
            },
            error: function (error) {
                // Handle error
                console.error("Error in booking", error);
               // alert("Error in booking");
                $(".btnBook").html("<p>Error loading results.</p>").show();
            }
        });

        // Optionally hide the button
        $(".btnBook").hide();
    });

   @*  $(".btnBook").on("click", function () {
        

        $("#From").val($(this).data("id"));
        $("#FromID").val($(this).data("id"));

        $("#To").val($(this).data("id"));
        $("#ToID").val($(this).data("id"));

        $("#PassengersCount").val($(this).data("id"));

        $("#Date").val($(this).data("id"));

        $("#RoundTripDate").val($(this).data("id"));

        $("#Duration").val($(this).data("id"));

        $(".btnBook").hide(); // Optionally hide the results after selection
        alert($(this).val());
   }) *@

</script>